<div class="testimonials">
    <h2>Here is What Our ProGrads Have To Say</h2>
    <div class="testimonial">
        <div id="person3" class="person">
            <div><img src="../assets/profileDefault.png" alt=""></div>
            <div>
                <h2>GURRAMKONDA YASWANTH, FSJ0620C106</h2>
                <h4>In my academics, I learnt only theoretical concepts of programming but ProGrad emphasized my coding knowledge by teaching me a different approach in solving all the coding problems. My mentor offered me excellent support by giuding us on each step to improve my progress</h4>
                <hr>
            </div>
           
        </div>
        <div id="person1" class="person">
            <div><img src="../assets/profileDefault.png" alt=""></div>
            <div>
                <h2>PRAVESH, FSD0A0221</h2>
                <h4>In my academics, I learnt only theoretical concepts of programming but ProGrad emphasized my coding knowledge by teaching me a different approach in solving all the coding problems. My mentor offered me excellent support by giuding us on each step to improve my progress</h4>
                <hr>
            </div>
           
        </div>
        
        <div id="person2" class="person">
            <div><img src="../assets/profileDefault.png" alt=""></div>
           <div>
                <h2>ROBIN HOODA, FSD0B0001</h2>
                <h4>Prograd not only helped me in utilized my knowledge to the best of my capability but also nurtured my my technical skills and competance.</h4>
           </div>
        </div>
    </div>
    <br>
    <br>
    <div class="form">
        <p>NAME</p>
        <div class="box" id="name">Enter your name</div>
        <br>
        <p>SHARE YOUR EXPERIENCE</p>
        <div class="box" id="exp">My journey as ProGrad was.........</div>
        <br>
        <div id="button">POST</div>

    </div>
</div>
