<div class="body">
    <div class="split left" id="description">
        <h1>Hear It From Our ProGrads</h1>
        <p>Being a ProGrad is a life-time experience. In the past, we have several times tried showing the world what is to be a ProGrad. But, we soon realised that no one can better describe this journey than our ProGrads themselves</p>
        <p class="bold">So here we are with a mission to let the world hear it from our ProGrads!</p>
        <p class="hashtags">#ProudProGrads #YourDreamOurMission</p>
    </div>
    <div class="split right" id="image">
        <img src="https://i1.faceprep.in/Fp-hero-images/hero_image_logged_in.webp" alt="">
    </div>

</div>
