
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#description{
    padding: 80px;
    margin-left: 80px;
    
}

img{
    height: 30rem;
    padding: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

h1{
    color: rgb(252, 14, 14);
    font-size: 3em;
}

p{
    font-size: 1.28em;
}

.bold{
    font-weight: bolder;
}

.hashtags{
    color: rgb(243, 67, 67);
}
